---
layout: item/item-page-base
---

<div class="card mb-4 text-center">
  {% if page.pdffilename %}
    {% assign pdf_path = '/objects/pdfs/' | append: page.pdffilename %}
    {% include pdfjs-viewer.html pdf_file=pdf_path %}
  {% else %}
    <p><em>No PDF available for this item.</em></p>
  {% endif %}

  <div class="card-body">
    {% include item/item-thumb.html %}
    <div class="mt-2">
      {% include item/download-buttons.html %}
    </div>
  </div>
</div>

<div class="mt-4">
  {% include item/item-metadata.html %}
</div>